<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/main.js" defer></script>
    <title>Shapes of CSS</title>
</head>
<body>
    <button onclick="logout(this)">Login</button>
    <button onclick="increase(this)">0<span> likes</span></button>
    <button onclick="hide(this)">Add Definition</button>
    <h3>Square Shape</h3>
    <div id="square"></div>
    <h3>Rectangle Shape</h3>
    <div id="rectangle"></div>
    <h3>Circle Shape</h3>
    <div id="circle"></div>
    <h3>Oval Shape</h3>
    <div id="oval"></div>
    <h3>Triangle Up Shape</h3>
    <div id="triangle-up"></div>
    <h3>Triangle Down Shape</h3>
    <div id="triangle-down"></div>
    <h3>Triangle Left Shape</h3>
    <div id="triangle-left"></div>
    <h3>Triangle Right Shape</h3>
    <div id="triangle-right"></div>
    <h3>Triangle Top Left Shape</h3>
    <div id="triangle-topleft"></div>
    <h3>Triangle Top Right Shape</h3>
    <div id="triangle-topright"></div>
    <h3>Triangle Bottom Left Shape</h3>
    <div id="triangle-bottomleft"></div>
    <h3>Triangle Bottom Right Shape</h3>
    <div id="triangle-bottomright"></div>
    <h3>Curved Tail Arrow Shape</h3>
    <div id="curvedarrow"></div>
    <h3>Trapezoid Shape</h3>
    <div id="trapezoid"></div>
    <h3>Parallelogram Shape</h3>
    <div id="parallelogram"></div>
    <h3>Star (6-points) Shape</h3>
    <div id="star-six"></div>
    <h3>Star (5-points) Shape</h3>
    <div id="star-five"></div>
    <h3>Pentagon Shape</h3>
    <div id="pentagon"></div>
    <h3>Hexagon Shape</h3>
    <div id="hexagon"></div>
    <h3>Octagon Shape</h3>
    <div id="octagon"></div>
    <h3>Heart Shape</h3>
    <div id="heart"></div>
    <h3>Infinity Shape</h3>
    <div id="infinity"></div>
    <h3>Diamond Square Shape</h3>
    <div id="diamond"></div>
    <h3>Diamond Shield Shape</h3>
    <div id="diamond-shield"></div>
    <h3>Diamond Narrow Shape</h3>
    <div id="diamond-narrow"></div>
    <h3>Cut Diamond Shape</h3>
    <div id="cut-diamond"></div>
    <h3>Egg Shape</h3>
    <div id="egg"></div>
    <h3>Pac-Man Shape</h3>
    <div id="pacman"></div>
    <h3>Talk Bubble Shape</h3>
    <div id="talkbubble"></div>
    <h3>RSS Feed Shape</h3>
    <div id="rss"></div>
    <h3>12 Point Burst Shape</h3>
    <div id="burst-12"></div>
    <h3>8 Point Burst Shape</h3>
    <div id="burst-8"></div>
    <h3>Yin Yang Shape</h3>
    <div id="yin-yang"></div>
    <h3>Badge Ribbon Shape</h3>
    <div id="badge-ribbon"></div>
    <h3>Space Invader Shape</h3>
    <div id="space-invader"></div>
    <h3>TV Screen Shape</h3>
    <div id="tv"></div>
</body>
</html>
