* {
    margin: 0px;
    padding: 0px;
}

.main {
    margin: auto 0;
    padding-left: 40px;
}

.dojonary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    padding: 20px;
    height: 45px;
    width: 90%;
    border: 5px solid black;
    background-color: grey;
    margin-bottom: 20px;
}

.dojonary button {
    border: 2px solid black;
    color: white;
    background-color: blue;
    height: 30px;
    width: 10%;
}

.add button {
    border: 2px solid black;
    background-color: green;
    height: 30px;
    width: 95%;
    margin-top: 10px;
}

#square {
    width: 100px;
    height: 100px;
    background: red;
}
