* {
    margin: 0px;
    padding: 0px;
}

.main {
    margin: auto 0;
    padding-left: 40px;
}

button {
    border: 2px solid black;
    color: white;
    background-color: blue;
    height: 30px;
    width: 10%;
    margin-top: 10px;
}

#square {
    width: 100px;
    height: 100px;
    background: red;
}









